parameters:
    level: 3
    paths:
        - ./
    excludePaths:
        - ./vendor/*
        - ./Test/*
    checkMissingIterableValueType: false
    ignoreErrors:
        # Ignore errors for Magento framework specifics
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getData\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::setData\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getContent\(\)#'
        - '#Parameter \#[0-9]+ \$[a-zA-Z0-9_]+ of method [a-zA-Z0-9\\_:]+::[a-zA-Z0-9_]+\(\) expects [^,)]+ given#'
