<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="c0defusi0n_security_scan" xsi:type="object">C0defusi0n\SecurityScanner\Console\Command\ScanCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="c0defusi0n_security_vuln_feed" xsi:type="string">C0defusi0n\SecurityScanner\Model\Notification\VulnSystemMessage</item>
            </argument>
        </arguments>
    </type>
</config>
